# APP SETUP
PORT=3000

# POSTGRES SETUP
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=calendar

# CALENDAR SETUP
GOOGLE_CALENDAR_ID=blank
GOOGLE_PRIVATE_KEY=blank
GOOGLE_CLIENT_ID=blank
GOOGLE_CALENDAR_ID=blank

#OPENAI SETUP
OPENAI_API_KEY=blank

